body {
    background: linear-gradient(135deg, #f6d365 0%, #fda085 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.field {
    background: linear-gradient(135deg, #f6d365 0%, #fda085 100%);
    max-width: 600px;
    width: 90%;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.legend {
    font-size: 28px;
    margin-bottom: 20px;
    color: #333;
    text-shadow: 1px 1px 1px red;
    font-weight: 700;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.user {
    width: 100%;
    max-width: 300px;
    height: 40px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
}

.button {
    width: 100%;
    max-width: 200px;
    height: 50px;
    background-color: #4CAF50;
    color: rgb(254, 254, 254);
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    letter-spacing: 2px;
    font-weight: 600;
    
}

.button:hover {
    background-color: transparent;
    outline: auto;
}

.result {
    font-size: 20px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: none;
}

.result.show {
    display: block;
    animation: fadeIn 0.5s ease;
}

footer {
    background: linear-gradient(120deg, #bbb293 45%, #f29e87 55%);
    text-align: center;
    padding: 5px;
    position: fixed;
    bottom: -2px;
    width: 100%;
    color: black;
    font-weight: 500;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 768px) {
    .field {
        padding: 20px;
    }

    .user,
    .button {
        max-width: 100%;
    }
}